.form {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;

  &__label {
    display: block;
    font-size: 1.6rem;
    margin-bottom: 1rem;
  }

  &__input {
    display: block;
    width: 30rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    height: 4rem;
  }

  &__salary {
    margin-top: 1rem;
  }

  &__submit {
    background: var(--primary);
    color: var(--secondary);
    border: none;
    outline: none;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 4rem;
    padding: 0 2rem;
    border-radius: .2rem;
    box-shadow: 0 0 .5rem rgba(0,0,0,0.3);
    transition: .2s;
    cursor: pointer;

    &:hover,
    &:focus {
      background-color: var(--tertiary);
      color: white;
    }
  }
}

.form-toggle {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  background: var(--primary);
  width: 6rem;
  height: 6rem;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .3s;
  cursor: pointer;

  svg {
    width: 4rem;
    height: 4rem;
    fill: black;
    margin-top: 4px; // Aligning dodgy svg for times sake
  }

  &:hover,
  &focus {
    background: var(--tertiary);

    svg {
      fill: white;
    }
  }
}