@keyframes animateThumbIn {
  from {
    opacity: 0;
    transform: translateY(-4rem);
  }
  to {
    opacity: 1;
    transform: translateY(0rem);
  }
}

@keyframes animateThumbInLarge {
  from {
    opacity: 0;
    transform: translateY(0rem);
  }
  to {
    opacity: 1;
    transform: translateY(4rem);
  }
}

.gallery {
  padding: 0 2rem 12rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
  row-gap: 2rem;
  max-width: 120rem;
  margin: 0 auto;

  @media( min-width: 600px ) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  
  &__img-container {
    margin-bottom: 10px;
    opacity: 0;
    clip-path: polygon(0% 0%, 50% 4rem, 100% 0%, 100% calc( 100% - 4rem ), 50% 100%, 0% calc( 100% - 4rem ));
    margin-bottom: -4rem;
    overflow: hidden;

    &--animate {
      animation: animateThumbIn .4s forwards;

      &:nth-child(even) {
        animation-name: animateThumbInLarge;
      }
    }
  }

  &__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity .3s, transform 1s ease-out;

    &:hover,
    &:focus {
      cursor: pointer;
      opacity: .7;
      transform: scale(1.2);
    }
  }
}

.img-profile {
  display: none;
}