.header {
  padding: 2rem 0;
  
  &__logo {
    fill: white;
    height: 4rem;
    margin: 0 auto;
    display: block;
  }
  
  @media( min-width: 600px ) {
    padding: 2rem 0 4rem;

    &__logo {
      height: 8rem;
    }
  }
}