.loader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;

  &__icon {
    width: 5rem;
    height: 5rem;
    transform: translateZ(0)
  }
}