@keyframes modal {
  from {
    transform: translateY(100vh);
  }
  to {
    transform: translateY(0)
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: black;
  transform: translateY(100vh);
  animation: modal .5s forwards .1s;
  display: flex;
  align-items: center;
  justify-content: center;

  &__img {
    display: block;
    width: 100%;
    max-height: 100vh;
  }

  &__close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 7rem;
    height: 7rem;
    fill: white;
    transition: fill .2s;
    cursor: pointer;

    &:hover,
    &:focus {
      fill: var(--primary);
    }
  }
}