* {
  box-sizing: border-box;
}

html {
  font-size: 10px; 
  height: 100%;
  background: radial-gradient(var(--secondary), var(--secondary-dark));
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

body {
  min-height: 100%;
}

.main-content {
  transition: .3s;
  transform-origin: top center;

  &--hide {
    transform: scale( 0.8) translateZ(0);
    opacity: .8;
  }
}